@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: #43affc; */
    background-image: url('https://images.unsplash.com/photo-1428908728789-d2de25dbd4e2?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transition: all ease 0.8s;
}

.container {
    width: 400px;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: -2px 1px 10px 0px rgba(0,0,0,0.32);
    overflow: hidden;
}

/* Khi có active thì ẩn phần input và hiện weather */
.container.active .input-part{
    display: none;
}

.container.active .weather-part {
    display: block;
}

.container.active header i{
    display: block;
}

.container.active header{
    display: flex;
    align-items: center;
    padding: 16px 20px;
}

.container header {
    font-size: 19px;
    color: #43affc;
    font-weight: 600;
    padding: 16px 23px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ccc;
}

.container header i {
    font-size: 22px;
    color: #43affc;
    font-weight: 600;
    padding: 5px;
    cursor: pointer;
    display: none;
}

.input-part {
    padding: 20px 25px 30px;
    display: block;
}

.input-part__state {
    font-size: 15px;
    text-align: center;
    padding: 12px;
    border-radius: 5px;
    margin-bottom: 10px;
    display: none;
}

/* Trạng thái  */
.input-part__state.error {
    display: block;
    color: #721c24;
    background-color: #f8d7da;
}

.input-part__state.pending {
    display: block;
    color: #0c5460;
    background-color: #bee5eb;
}

.input-part__input {
    display: block;
    width: 100%;
    height: 48px;
    font-size: 15px;
    text-align: center;
    outline: none;
    border: 1px solid #bfbfbf;
    border-radius: 5px;
}

.input-part__input:focus {
    outline: 2px solid#43affc;
}

.input-part__separate {
    position: relative;
    width: 100%;
    height: 1px;
    background-color: #bfbfbf;
    margin: 25px 0;
}

.input-part__separate::before {
    position: absolute;
    content: "or";
    font-size: 16px;
    color: #ccc;
    padding: 5px 9px;
    background-color: #fff;
    top: -17px;
    left: 50%;
    transform: translateX(-50%);
}

.input-part__btn {
    display: block;
    width: 100%;
    height: 48px;
    font-size: 15px;
    color: #fff;
    background-color: #43affc;
    outline: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Weather part */
.weather-part {
    padding-top: 30px;
    display: none;
}

.weather-part__img {
    display: block;
    width: 150px;
    height: 150px;
    margin: 0 auto;
}

.weather-part__stats {
    text-align: center;
    font-size: 60px;
    font-weight: 600;
}

.weather-part__deg {
    margin-left: -10px;
}

.weather-part__deg sup {
    position: relative;
    top: -10px;
    font-size: 25px;
}

.weather-part__state {
    text-align: center;
    font-size: 22px;
    font-weight: 400;
}

.weather-part__state::first-letter {
    text-transform: uppercase;
}

.weather-part__location {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 17px;
    margin-top: 10px;
}

.weather-part__infor {
    margin-top: 30px;
    display: flex;
    justify-content: space-evenly;
    border-top: 1px solid #bfbfbf;
}

.weather-part__data {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 0;
}

.weather-part__data:first-child {
    border-right: 1px solid #bfbfbf;
}

.weather-part__desc {
    line-height: 1.3;
    font-size: 15px;
}
 
.weather-part__feel {
    font-size: 19px;
    font-weight: 500;
}

.weather-part__humidity {
    font-size: 19px;
    font-weight: 500;
}

.weather-part__icon {
    position: relative;
    top: 3px;
    font-size: 45px;
    margin-right: 4px;
    color: #43affc;
}